ebyte.db
*db
__pycache__/
venv/
.env"static/uploads/*.jpg" 
"static/uploads/*.jfif" 
"static/uploads/*.png" 
"static/uploads/*.mp4" 
"static/uploads/*.webm" 
"static/uploads/*.mov" 
"static/uploads/" 
git
"static/uploads/" 
